$background: #363544;

$text: #fff;
$dark-text: #000;
$error-text: red;

$button: #fff;
$button-bg: #2f3136;
$button-active-bg: #534caf;
$button-hover-bg: #6e6e6e;

$headbar-bg: #2f3136;
$title: #72767d;
$title-button: #b9bbbe;
$title-button-hover: #dee1e4;
$title-button-hover-bg: #35373d;
$title-button-active: #d0d3d6;
$title-button-active-bg: #3a3d44;
$title-close-button-hover-bg: #e64444;
$title-close-button-active-bg: #e92626;

$sidebar-bg: #2f3136;

$activeInput: #61daff18;