@use "colors";
@use "variables";
@use "food";

#notepad {
  padding: 4px;

  .date-container {
    width: fit-content;
    margin: 0px auto;
    display: flex;
    place-items: center;

    * { margin: 0px 10px; }
    .date-left, .date-right { 
      color: colors.$text;
      cursor: pointer;
    }

    #date-picker {
      background-color: colors.$background;
      color: colors.$text;
      outline: none;
      border: 1px solid colors.$border;
      font: inherit;
      font-size: x-large;
      font-weight: 700;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      background-color: colors.$text;
    }
  }

  .note {
    select, option {
      background: colors.$background;
      color: colors.$text;
      outline: none;
    }

    .dragHandle {
      width: 12px;
      height: 30px;

      svg {
        overflow: hidden;
        opacity: 0;
        vertical-align: middle;
      }
    }
    &:hover .dragHandle svg,
    &:active .dragHandle svg {
      opacity: 1;
    }

    input {
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    .delete-note { 
      color: colors.$title-button;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .delete-note:hover { color: colors.$title-close-button-hover-bg; }
    .delete-note:active { color: colors.$title-close-button-active-bg; }

    .editable {
      width: 100%;
      color: inherit;
      text-align: inherit;
      background: inherit;
      background-color: inherit;
      outline: none;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }

    input.editable { border: inherit; }

    .inputIsActive {
      background-color: colors.$activeInput;
      border-radius: 4px;
    }

    @include food.foodMixin;
  }

  .add-note-button {
    margin-left: 10px;
    display: block;
    color: colors.$title-button;
    background-color: colors.$background;
    border: 0;
    border-radius: 1rem;
    outline: none;
    font-size: 1.2rem;
  }
  .add-note-button::before {
    content: "+";
    margin-right: 10px;
    font-size: small;
  }
  .add-note-button::after {
    content: "Add Note";
    font-size: small;
  }
  .add-note-button:hover {
    color: colors.$title-button-hover;
  }
  .add-note-button:active {
    color: colors.$title-button-active;
  }
}
