@use "colors";
@use "variables";

.sidebar {
  margin: 0;
  padding: 0;
  width: variables.$sidebar-width - 10;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: colors.$sidebar-bg;

  button {
    display: block;
    width: 100%;
    background-color: colors.$button-bg;
    color: colors.$button;
    padding: 16px;
    border: none;
    outline: none;
  }
  button.active {
    background-color: colors.$button-active-bg;
  }
  button:hover:not(.active) {
    background-color: colors.$button-hover-bg;
  }

  @media screen and (max-width: variables.$media-max-width) {
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
  }
}
