.headbar {
    display: block;
    width: 100%;
    background-color: #2f3136;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.title-button { color: #b9bbbe; -webkit-app-region: no-drag; }
.title-button:hover { color: #dee1e4; background-color: #35373d; }
#close-btn:hover { color: #dee1e4; background-color: #e64444; }

.title-button:active { color: #d0d3d6; background-color: #3a3d44; }
#close-btn:active { color: #d0d3d6; background-color: #e92626; }

.headbar .title-button { padding: 1px 10px; float: right; }
.headbar .title { color: #72767d; padding: 1px 4px; float: left; }