.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #2f3136;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar { border: none }

    div#content { margin-left: 0 }
}

.sidebar button {
    display: block;
    width: 100%;
    background-color: #2f3136;
    color: white;
    padding: 16px;
    border: none;
}

.sidebar button:focus { outline: none }
.sidebar button.active { background-color: #534caf }
.sidebar button:hover:not(.active) { background-color: #6e6e6e }