body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  color: #fff;
  background-color: #363544;
}

div#content {
  margin-left: 110px;
  padding: 1px 16px;
}